<!DOCTYPE html>
<html>
  <head>
    <title>Exemplos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul>
      <li><a href="/exemplos/buscarPeloId/10">buscarPeloId</a></li>
    </ul>
  </body>
</html>
