<!DOCTYPE html>
<html>

<head>
    <title>Participantes</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Participante</h1>

    <p><a href="/participantes/">Voltar</a></p>

    <div class="campo">
        <label>Nome Completo</label>
        <%= row.nomeCompleto %>
    </div>

    <div class="campo">
        <label>Apelido</label>
        <%= row.apelido %>
    </div>

    <div class="campo">
        <label>E-mail</label>
        <%= row.email %>
    </div>    


    <div class="campo">
        <label>Chave PIX</label>
        <%= row.chavePIX %>
    </div>        
</body>

</html>