body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div.campo label {
  font-weight: bold;
  display: block;
}

div.campo {
  margin-bottom: 1em;
}

div.erro {
  color: red;
  border: 1px solid red;
  background-color: bisque;
}