<!DOCTYPE html>
<html>
  <head>
    <title>Eventos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Detalhes do Evento</h1>
    <p>
      <a href="/eventos/">Voltar</a>
    </p>
    <p>
      <strong>Nome: </strong><%= evento.nome %>
    </p>
    <p>
      <form action="/eventos/deletar/<%= evento.id %>" method="POST">
        <input type="submit" value="Excluir" />
      </form>
    </p>
  </body>
</html>
