<!DOCTYPE html>
<html>
  <head>
    <title>Eventos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Eventos</h1>
    <p>Lista de Eventos</p>
    <ul>
      <% for(var i=0; i < eventos.length; i++) { %>
        <li><%= eventos[i].nome %></li>
      <% } %>
    </ul>
  </body>
</html>
