<!DOCTYPE html>
<html>

<head>
  <title>Eventos</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Novo evento</h1>
  <p>
    <a href="/eventos">Voltar</a>
  </p>
  <% if (typeof(errors) !="undefined" ) { %>
    <div style="color: red; border: 1px solid red;">
      <ul>
        <% for(var i=0; i < errors.length; i++) { %>
          <li>
            <%= errors[i] %>
          </li>
          <% } %>
      </ul>
    </div>
    <% } %>

  <form action="/eventos" method="post">
    <p>
      <label for="nome">Nome do evento:</label><br>
      <input type="text" id="nome" name="nome"><br>
    </p>

    <input type="submit" value="Submeter">
  </form>
</body>

</html>